# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data/output
data/*
!data/.gitkeep
outputs/

# Python packaging artifacts
*.egg-info/
dist/
build/
